{% extends 'base.html.twig' %}

{% block title %}TOPISCINE - A propos de nous{% endblock %}

{% block class1 %}{% endblock %}
{% block class2 %}{% endblock %}
{% block class3 %}border_section{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid place-to-">
            <div id="title_a_propos_de_nous" class="row text-center">
                <h1>A propos de nous</h1>
            </div>
            <div class="row" id="entreprise">
                <div class="text-center">
                    <h2>L'entreprise</h2>
                </div>
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <p><strong>TOPISCINE</strong><br> est l'une des têtes montantes dans le domaine de la construction de piscine sur mesure, chez nous le client est roi, ses exigences sont la première de nos préoccupations et nous nous engageons à les respecter</p>
                        </div>
                        <div class="col-md-4">
                            <img src="img/entreprise.png" alt="exemple-entreprise">
                        </div>
                        <div class="col-md-4">
                            <p>Nous vous permettons de réaliser vos rêves, nos gammes de piscines satisfait chaque clients, il y a assez de choix pour tout le monde quelque soit vos besoins et envies, de la piscine classique à la plus sophistiqué</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center" id="quisommesnous">
                <div class="text-center">
                    <h2>Qui sommes-nous ?</h2>
                </div>
                <div class="text-center ">
                    <p>Nous décidons de nous associer en 2016 après la fin de nos études, nous sommes originaires de l'Isère. Après un bon démarrage de notre entreprise, en 2021 nous officialisons l'ouverture de notre site web qui nous permettra de nous étendre encore plus.</p>
                </div>
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-6 ">
                            <i class="fas fa-user-circle"></i>
                            <p><strong>Lucy Marin-Lefebvre</strong><br> Co-Fondatrice de TOPSICNE</p>
                        </div>
                        <div class="col-md-6">
                            <i class="fas fa-user-circle"></i>
                            <p><strong>Albert Bourbeau</strong><br> Co-Fondateur de TOPSICNE</p>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="row" id="contactDiv">
                <div class="text-center">
                    <h2>Nous contacter</h2>
                    <h4>Ou pouvez-vous nous contacter ?</h4>
                </div>
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a href="tel:+33659864578"><i class="fas fa-phone-alt"></i></a>
                            <p><a href="tel:+33659864578">06 59 86 45 78</a></p>

                        </div>
                        <div class="col-md-4">
                            <a href="mailto:topiscine.contact@gmail.com"><i class="fas fa-envelope"></i></a>
                            <p><a href="mailto:topiscine.contact@gmail.com">topiscine.contact@gmail.com</a></p>
                        </div>
                        <div class="col-md-4">
                            <a href="https://goo.gl/maps/LLRzQQ7hJ8Gpi4E7A"><i class="fas fa-map-marker-alt"></i></a>
                            <p><a href="https://goo.gl/maps/LLRzQQ7hJ8Gpi4E7A">2, place Saint-André <br> 3800 Grenoble</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <p>Vous pouvez aussi nous retrouver sur nos réseaux sociaux, que vous trouverez un peu plus bas dans la page</p>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
