
{% extends 'base.html.twig' %}
{% block title %}TOPISCINE - Estimation - Couleurs{% endblock %}

{% block class1 %}{% endblock %}
{% block class2 %}border_section{% endblock %}
{% block class3 %}{% endblock %}

{% block body %}
    <div id="barre-devis" class="container-fluid mb-4 pt-2">
        <div class="row">
            <div class="col-md-12 text-center p-0 ">

                <div class="d-flex flex-row  align-items-center justify-content-between container-fluid">
                    <a href="/etapeVersFond"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    <h2>Faire une estimation</h2>
                    <h5></h5>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 40%"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="devis-couleur" class="container ">
        <div class="row p-3">
            <div class="col-md-12 text-center">
                <h5>Choix de la couleur du fond de la piscine</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputBlanc(event); disabledButton()" id="blanc" class="color-devis btn border border-dark rounded-circle">
                </button>
                <i id="awesome-blanc" class="fa fa-check-square" aria-hidden="true"></i>
            </div>

            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputBleu(event); disabledButton()" id="bleu" class="color-devis btn border border-light rounded-circle">
                </button>
                <i id="awesome-bleu" class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputJaune(event); disabledButton()" id="jaune" class="color-devis btn border border-light rounded-circle">
                </button>
                <i id="awesome-jaune" class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputRouge(event); disabledButton()" id="rouge" class="color-devis btn border border-light rounded-circle">
                </button>
                <i id="awesome-rouge" class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputVert(event); disabledButton()" id="vert" class="color-devis btn border border-light rounded-circle">
                </button>
                <i id="awesome-vert" class="fa fa-check-square" aria-hidden="true"></i>
            </div>

            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputRose(event); disabledButton()" id="rose" class="color-devis btn border border-light rounded-circle">
                </button>
                <i id="awesome-rose" class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputOrange(event); disabledButton()" id="orange" class="color-devis btn border border-light rounded-circle">
                </button>
                <i id="awesome-orange" class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-3 d-flex justify-content-center align-items-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mb-3 mt-3">
                <form action="/etapeVersTaille" method="post">
                    <div class="input-group mb-3 w-50 text-center hidden">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Choix</span>
                        </div>
                        <input name="choix3" id="choix" type="text" class="form-control" placeholder="Choix" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <input id="submit" type="submit" value="Suivant"  class="btn btn-success" disabled="true">
                </form>

            </div>
        </div>
    </div>

{% endblock %}
