{% extends 'base.html.twig' %}
{% block title %}TOPISCINE - Estimation - Forme{% endblock %}


{% block class1 %}{% endblock %}
{% block class2 %}border_section{% endblock %}
{% block class3 %}{% endblock %}

{% block body %}
    <div id="barre-devis" class="container-fluid mb-4 pt-2">
        <div class="row">
            <div class="col-md-12 text-center p-0 ">
                <h2>Faire une estimation</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 0%"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="devis" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Choix de la forme de la piscine</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                <button onclick="remplirInputRectangulaire(event);disabledButton()" id="rectangulaire"
                        class="img-devis btn border border-light rounded">
                    <h6 class="text-center contour">Rectangulaire</h6>
                </button>
                <i id="awesome-rect" class="fa fa-check-square" aria-hidden="true"></i>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">

                <button onclick="remplirInputRonde(event);disabledButton()" id="ronde"
                        class="img-devis btn border border-light rounded-circle">
                    <h6 class="text-center contour">Ronde</h6>
                </button>
                <i id="awesome-rond" class="fa fa-check-square" aria-hidden="true"></i>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mb-3">
                <form action="/etapeVersFond" method="post">
                    <div class="input-group mb-3 w-50 text-center hidden">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Choix</span>
                        </div>
                        <input name="choix1" id="choix" type="text" class="form-control" placeholder="Choix"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <input id="submit" type="submit" value="Suivant" class="btn btn-success" disabled="true">
                </form>

            </div>
        </div>

    </div>

{% endblock %}
